---
import Main from '@/layouts/Main.astro';
import { type CollectionEntry } from 'astro:content';
import slugify from '@/utils/slugify';
import getUniqueTags from '@/utils/getUniqueTags';
import getPostsByTag from '@/utils/getPostsByTag';
import { getCollection } from 'astro:content';

import Post from '@/components/Post.astro';

export interface Props {
	post: CollectionEntry<'articles'>;
	tag: string;
}

export async function getStaticPaths() {
	const posts = await getCollection('articles');

	const tags = getUniqueTags(posts);

	return tags.map((tag) => {
		return {
			params: {
				tag,
			},
			props: {
				tag,
			},
		};
	});
}

const { tag } = Astro.props;

const posts = await getCollection('articles');

const tagPosts = getPostsByTag(posts, tag);
---

<Main title={`Tag:${tag} | Articles with Mike`}>
	<header class='max-w-2xl'>
		<h1
			class='text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl'
		>
			Tag: {tag}
		</h1><p class='mt-6 text-base text-zinc-600 dark:text-zinc-400'>
			All articles tagged with <span class='font-bold'>#{tag}</span>
		</p>
	</header><div class='mt-16 sm:mt-20'>
		<div
			class='md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40'
		>
			<div class='flex flex-col max-w-3xl space-y-16'>
				{
					tagPosts.map(({ data }) => {
						return <Post post={data} link={`/articles/${slugify(data)}`} />;
					})
				}
			</div>
		</div>
	</div>
</Main>
